#define IDX_CPS_KEY 0
#define IDX_CPM_KEY 2
#define IDX_uSv_KEY 4

#define IDX_CPM 3
#define IDX_uSv 5
#define IDX_MODE 6

#define PIN_UART_RX D1 // 4
#define PIN_UART_TX 13 // UNUSED
//#define PIN_PULSE D2

#define BAUD_GEIGERCOUNTER 9600

//#define WIFI_HOSTNAME "ESP-GeigerCounter";
#define WIFI_SSID "xxxx"
#define WIFI_PASSWORD "xxxxx"

//#define OTA_PASSWORD "foobar"

#define MQTT_HOST "mqtt.xxxxxxxxx.org"

#define MQTT_TOPIC_CPM "sensor/geigercounter/cpm"
#define MQTT_TOPIC_USV "sensor/geigercounter/uSv"
#define MQTT_TOPIC_LAST_WILL "sensor/geigercounter/status"
#define MQTT_TOPIC_PULSE "sensor/geigercounter/pulse"

// Only publishes values if changed since last publish
#define MQTT_PUBLISH_INTERVAL_MS (10 * 1000)