#define IDX_CPS_KEY 0
#define IDX_CPM_KEY 2
#define IDX_uSv_KEY 4

#define IDX_CPM 3
#define IDX_uSv 5
#define IDX_MODE 6

#define PIN_UART_RX D1 // 4
#define PIN_UART_TX 13 // UNUSED

#define BAUD_GEIGERCOUNTER 9600

const char* WIFI_HOSTNAME = "ESP-GeigerCounter";
const char* WIFI_SSID = "xxxxxxxxxx";
const char* WIFI_PASSWORD = "xxxxxxxxxxx";

const char* OTA_PASSWORD = "foobar";

#define MQTT_HOST "mqtt.xxxxxxxxx.org"

#define MQTT_TOPIC_CPM "sensor/geigercounter/cpm"
#define MQTT_TOPIC_USV "sensor/geigercounter/uSv"
#define MQTT_TOPIC_LAST_WILL "sensor/geigercounter/status"

// Only publishes values if changed since last publish
#define MQTT_PUBLISH_INTERVAL_MS (10 * 1000)